body {
  background-color: peru;
}

.btn {
  cursor: pointer;
}

body {
  color: #344952;
}

.clicked {
  color: red;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
